<mat-toolbar color="primary" class="menu">
  <div>
    <span [textContent]="title"></span>
    <span>{{title}}</span>
    <a routerLink="/home" mat-button>
      <mat-icon>home</mat-icon>
      Accueil
    </a>
    <a [routerLink]="['/rooms/list']" mat-button>
      <mat-icon>room</mat-icon>
      Liste
    </a>
    <a routerLink="/rooms/create" mat-button>
      <mat-icon>add</mat-icon>
      Ajouter
    </a>
  </div>
  <div>
    <ng-container *ngIf="!user; else logout">
      <a routerLink="/auth/login" mat-button>
        <mat-icon>locked_in</mat-icon>
        Se connecter
      </a>
      <a mat-button>
        <mat-icon>create</mat-icon>
        S'inscrire
      </a>
    </ng-container>
    <ng-template #logout>
      Bonjour toto
      <button mat-button>
        <mat-icon>locked_out</mat-icon>
        Déconnexion
      </button>
    </ng-template>
  </div>

</mat-toolbar>

<router-outlet></router-outlet>

<footer>
  <app-top-five-room></app-top-five-room>
</footer>