<h1>Authentification</h1>

<form class="form">
    <mat-form-field>
        <input type="email" matInput placeholder="Login" #email (keyup.enter)="password.focus()" />
    </mat-form-field>
    <mat-form-field>
        <input type="password" matInput placeholder="Mot de passe" #password
            (keyup.enter)="onLogin(email.value, $event)" />
    </mat-form-field>
    <div>
        <button type="button" mat-button (click)="onLogin(email.value, $event)">Se connecter</button>
    </div>
</form>